[
 {babel, [
        {default_pool, default},
        {index_cache, #{
            enabled => false,
            segments => 10,
            ttl => 600,
            check => 60,
            policy => lru,
            size => 1000,
            memory => 50000
        }},
        {riak_pools, [
            #{
                name => default,
                min_size => 3,
                max_size => 80,
                riak_host => "127.0.0.1",
                riak_port => 8087
            }
        ]},
        {reliable, [
            {backend, reliable_riak_store_backend},
            {riak_host, "127.0.0.1"},
            {riak_port, 8087},
            {riak_pool, #{
                min_size => 3,
                max_size => 9,
                riak_host => "127.0.0.1",
                riak_port => 8087
            }},
            {instances, [<<"demo-vehicles-0">>]},
            {instance_name, <<"demo-vehicles-0">>},
            {number_of_partitions, 5}
        ]},
        {bucket_types, [
            {index_collection, <<"index_collection">>},
            {index_data, <<"index_data">>}
        ]}
    ]}
].