{erl_opts, [debug_info]}.
{deps, [
    {utils,
        {git, "https://github.com/leapsight/utils.git", {tag, "1.3.7"}}
    },
    {leap,
        {git, "https://github.com/leapsight/leap.git", {branch, "master"}}
    },
    {riakc, {
        git,
        "https://github.com/basho/riak-erlang-client.git",
        {tag, "3.0.13"}
    }},
    {riak_pool,
        {git, "https://github.com/leapsight/riak_pool.git", {tag, "0.3.2"}}
    },
    {reliable,
        {git,
            "https://github.com/leapsight/reliable.git",
            {tag, "0.4.3"}
        }
    },
    {jsone, "1.8.0"},
    cache,
    gproc,
    telemetry
]}.


{relx, [
    {release, {babel, "0.4.7"},[
        %% Erlang
        sasl,
        crypto,
        inets,
        tools,
        runtime_tools,
        os_mon,
        %% Third-parties
        cache,
        riakc,
        riak_pool,
        pooler,
        gproc,
        jsone,
        telemetry,
        {reliable, load},
        backoff,
        utils,
        leap,
        babel
    ]},
    {dev_mode, false},
    {include_src, false},
    {include_erts, true},
    {extended_start_script, true},

    %% {overlay_vars, "config/prod/vars.config"},
    %% {vm_args, "config/prod/vm.args"},

    {overlay, []}
]}.

{profiles, [
    {dev, [
        {erl_opts, [debug_info, export_all, nowarn_export_all]},
        {relx, [
            {dev_mode, true},
            {include_src, false},
            {include_erts, false},
            {config, "config/sys.config"},
            {overlay, [
                {copy, "config/sys.config", "etc/sys.config"}
            ]}
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint,
                {git,
                    "https://github.com/project-fifo/rebar3_lint.git",
                    {tag, "v0.1.10"}
                }
            }
        ]}
    ]},
    {docs, [
        {deps, [
        ]}
    ]},
    {test, [
        {deps, [
            meck, proper,
            {eqwalizer_support,
                {
                  git_subdir,
                  "https://github.com/whatsapp/eqwalizer.git",
                  {branch, "main"},
                  "eqwalizer_support"
                }
            }
        ]},
        {ct_opts, [
            {sys_config, ["config/test/sys.config"]}
        ]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]},
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {config, "config/test/sys.config"},
            {overlay, [
                {copy, "config/test/sys.config", "etc/sys.config"}
            ]}
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [
        cache,
        riakc,
        jsone,
        utils,
        leap,
        riak_pool,
        {reliable, load},
        babel
    ]}
]}.


%% =============================================================================
%% PLUGINS
%% =============================================================================


{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex,
    {eqwalizer_rebar3,
      {
        git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_rebar3"
      }
    }
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

%% =============================================================================
%% TESTING
%% =============================================================================


%% =============================================================================
%% QUALITY ASSURANCE TOOLS
%% =============================================================================

{dialyzer,
    [{warnings,
        [race_conditions,
            no_return,
            unmatched_returns,
            error_handling
        ]}
        %% , {plt_extra_apps, [utils]}
        %% {plt_apps, top_level_deps}
        %% {get_warnings, true},
        %% {plt_location, local}
        %% {base_plt_apps, [stdlib, kernel]},
        %% {base_plt_location, global}
    ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
%% {ct_opts, [
%%     {sys_config, ["config/sys.config"]}
%% ]}.





%% =============================================================================
%% DOCS
%% =============================================================================


{ex_doc, [
  {name, "Babel"},
  {source_url, <<"https://github.com/leapsight/babel">>},
  {extras, [
    <<"README.md">>,
    <<"LICENSE">>,
    <<"CHANGELOG.md">>,
    <<"CODE_OF_CONDUCT.md">>
  ]},
  {main, <<"README.md">>},
  {extra_section, "Pages"},
  {api_reference, true},
  {groups_for_extras, #{
      <<"Introduction">> => [
      ],
      <<"Tutorials">> => [],
      <<"How-to Guides">> => [
        <<"doc/guides/getting_started.md">>,
        <<"doc/guides/developing_with_babel_datatypes.md">>
      ],
      <<"Deployment">> => [],
      <<"Technical Reference">> => []
  }}
]}.



%% =============================================================================
%% LINTING
%% =============================================================================



{elvis,
 [#{dirs => ["src"],
       filter => "*.erl",
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 50,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [
            %% {elvis_project, no_deps_master_rebar, #{ignore => []}},
            %% {elvis_project, protocol_for_deps_rebar, #{ignore => []}}
        ]
      }
    ]
}.
