[
    {babel, []},
    {cache, [
        {babel_index_collections, [{n, 10}, {ttl, 600}]}
        {babel_index_collections, [{n, 10}, {ttl, 600}]}
    ]}
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{ }}
            }}
        ]}
    ]}
].