[
    {babel, [
        {reliable, [
            {backend, reliable_riak_store_backend},
            {riak_host, "127.0.0.1"},
            {riak_port, 8087},
            {riak_pool, #{
                min_size => 3,
                max_size => 9
            }},
            {instances, [
                <<"babel_test-0">>,
                <<"babel_test-1">>,
                <<"babel_test-3">>
            ]},
            {instance_name, <<"babel_test-0">>},
            {number_of_partitions, 3}
        ]},
        {bucket_types, [
            {index_collection, <<"index_collection">>},
            {index_data, <<"index_data">>}
        ]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    template => [
                        colored_start,
                        time, " ",
                        " [", level, "]",
                        " [",
                        pid,
                        " ", mfa,
                        {line, [":", line],[]},
                        "] ",
                        colored_end,
                        msg, "\n"
                    ]
                }}
            }}
        ]}
    ]}
].
