[
    {babel, [
        {reliable, [
            {backend, reliable_riak_storage_backend},
            {riak_host, "127.0.0.1"},
            {riak_port, 8087},
            {instance_name, <<"babel_test">>},
            {number_of_instances, 5}
        ]},
        {reliable_instances, ["test_1", "test_2", "test_3"]},
        {bucket_types, [
            {index_collection, <<"index_collection">>},
            {index_data, <<"index_data">>}
        ]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    template => [
                        colored_start,
                        time, " ",
                        " [", level, "]",
                        " [",
                        pid,
                        " ", mfa,
                        {line, [":", line],[]},
                        "] ",
                        colored_end,
                        msg, "\n"
                    ]
                }}
            }}
        ]}
    ]}
].
